.home-container {
  text-align: center;
  padding: 50px;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyLMRZ3MyhMoXHdmPPu03B6KGjWG2D69sICw&s") no-repeat center center/cover;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.home-container p {
  font-size: 20px;
  margin: 20px 0;
}

.cta-button {
  background: #ffcc00;
  color: black;
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.cta-button:hover {
  background: white;
  color: #ff6a00;
  transform: scale(1.1);
}
